body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  background-color: #f2efbd;
}
p {
  line-height: 140%;
}
.top-section {
  background-color: #1b1e26;
}
h1 {
  font-family: 'roboto slab', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  padding-top: .75em;
  margin-bottom: .75em;
  color: #2f6d7a;
}
label {
  color: #666666;
}
select {
  border: 4px solid #666666;
  padding: .1em 0 .1em .25em;
  font-size: 1.5em;
  color: #2f343b;
  background-color: #00a79d;
}
.do {
  color: #b6d051;
}

.filter-section, .loadAll-section, .title-input, .task-input, .save-btn, .search-input {
  width: 66%;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}


.clear-button {
  display: none;
  padding: .5em;
  color: #ffffff;
  margin: 1em 0;
  background-color: #2f6d7a;
}

.filter-section form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input, .title-input, .task-input {
  border: 4px solid #666666;
  padding: .1em 0 .1em .25em;
  font-size: 1.75em;
  color: #2f343b;
}

.save-btn, .filter-complete-btn, .clear-button {
  height: 2.5em;
  font-size: 1.25em;
}
.load-button {
  padding: .5em;
  color: #ffffff;
  margin: 1em 0;
  text-align: center;
  background-color: #2f6d7a;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d1d3d4;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d3d4;
  font-size: .5em;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #d1d3d4;
  font-size: .5em;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d3d4;
  font-size: .5em;
}

.search-input:focus, .save-btn:focus, .task-input:focus, .title-input:focus, .filter-complete-btn:focus {
  outline-style: auto;
  outline-color: #b6d051;
}
.save-btn, .filter-complete-btn, .clear-button {
  background-color: #00a79d;
  color: #ffffff;
  font-size: 1em;
  border: none;
}

.save-btn:disabled, .filter-complete-btn:disabled {
  background-color: #666666;
}

.save-btn:hover, .clear-button:hover, .load-button:hover, .filter-complete-btn:hover {
  background-color: #b6d051;
}

.input-fields {
  padding-bottom: 1em;
}
.search-section {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

h2 {
  color: #2f343b;
}
.task {
  text-align: left;
}
.task-text {
  color: #939598;
}
.importance {
  color: #2f343b;
  margin-left: 1.2em;
  display: inline-block;
  font-family: 'roboto slab', sans-serif;
  letter-spacing: .04em;
}

.complete-btn {
  border: none;
  margin-left: auto;
  color: #d1d3d4;
  background-color: #045e55;
}

.complete-btn:hover {
  background-color: #939598;
}

.complete-task {
  text-decoration: line-through;
}

.card {
  width: 66%;
  margin: auto;
}
h2 {
  font-size: 1.5em;
  font-family: 'roboto slab', sans-serif;
  display: inline-block;
}
hr {
  color: #d1d3d4;
  margin-top: .75em;
}
.upvote-btn, .downvote-btn, .importance {
  display: inline-block;
}



.delete-btn {
  height: 1.5em;
  width: 1.5em;
  float: right;
  display: inline-block;
  background-image: url(images/delete.svg);
}
#delete, #upvote, #downvote {
  height: 1.5em;
  width: 1.5em;
}
#delete:hover {
  background-image: url(images/delete-hover.svg);
}
#upvote {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background-image: url(images/upvote.svg);
}
#upvote:hover {
  background-image: url(images/upvote-hover.svg);
}
#downvote {
  margin-left: .75em;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background-image: url(images/downvote.svg);
}
#downvote:hover {
  background-image: url(images/downvote-hover.svg);
}

#card-template {
  display: none;
}
.ratings {
  display: flex;
  align-content: center;
}
h2, .ratings, .task-text {
  margin: .25em 0 1em 0;
}
@media (max-width: 450px) {
  .task-input {
    padding-top: 0;
    padding-bottom: 4em;
  }

  .card, .filter-section, .loadAll-section, .title-input, .task-input, .save-btn, .search-input, .filter-complete-btn {
    width: 80%;
    margin-left: auto;
  }
}
