body {
  background-color: #f2efbd;
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}

h1 {
  color: #2f6d7a;
  font-family: 'roboto slab', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: .75em;
  padding-top: .75em;
  text-align: center;
}

h2 {
  color: #2f343b;
  display: inline-block;
  font-family: 'roboto slab', sans-serif;
  font-size: 1.5em;
}

p {
  line-height: 140%;
}

hr {
  color: #d1d3d4;
  margin-top: .75em;
}

label {
  color: #666666;
}

select {
  background-color: #00a79d;
  border: 4px solid #666666;
  color: #2f343b;
  font-size: 1em;
  padding: .1em 0 .1em .25em;
}

.top-section {
  background-color: #1b1e26;
}

.do {
  color: #b6d051;
}

.input-fields {
  padding-bottom: 1em;
}

.search-input, .title-input, .task-input {
  border: 4px solid #666666;
  color: #2f343b;
  font-size: 1.75em;
  padding: .1em 0 .1em .25em;
}

.clear-button {
  background-color: #2f6d7a;
  color: #ffffff;
  display: none;
  margin: .5em .5em;
  padding: .5em;
}

.load-button {
  background-color: #2f6d7a;
  color: #ffffff;
  margin: 1em 0;
  padding: .5em;
  text-align: center;
}

.filter-section form {
  align-items: center;
  display: flex;
}

.filter-complete-btn {
  margin-bottom: .5em;
  margin-left: auto;
  margin-top: .5em;
}

.save-btn, .filter-complete-btn, .clear-button {
  font-size: 1.25em;
  height: 2.5em;
}

.filter-section, .loadAll-section, .title-input, .task-input, .save-btn, .search-input {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 66%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d1d3d4;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d3d4;
  font-size: .5em;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #d1d3d4;
  font-size: .5em;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d3d4;
  font-size: .5em;
}

.search-input:focus, .save-btn:focus, .task-input:focus, .title-input:focus, .filter-complete-btn:focus {
  outline-color: #b6d051;
  outline-style: auto;
}
.save-btn, .filter-complete-btn, .clear-button {
  background-color: #00a79d;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

.save-btn:disabled, .filter-complete-btn:disabled {
  background-color: #666666;
}

.save-btn:hover, .clear-button:hover, .load-button:hover, .filter-complete-btn:hover {
  background-color: #b6d051;
}

.search-section {
  margin-bottom: 1.75em;
  margin-top: 1.75em;
}

.task {
  text-align: left;
}

.task-text {
  color: #939598;
}

.importance {
  color: #2f343b;
  display: inline-block;
  font-family: 'roboto slab', sans-serif;
  letter-spacing: .04em;
  margin-left: 1.2em;
}

.complete-btn {
  background-color: #045e55;
  border: none;
  color: #d1d3d4;
  margin-left: auto;
}

.complete-btn:hover {
  background-color: #939598;
}
.complete-task {
  opacity: .7;
}
.complete-task h2, .complete-task p {
  text-decoration: line-through;
}

.card {
  margin: auto;
  width: 66%;
}

.upvote-btn, .downvote-btn, .importance {
  display: inline-block;
}

.delete-btn {
  background-image: url(images/delete.svg);
  display: inline-block;
  float: right;
  height: 1.5em;
  width: 1.5em;
}

h2, .ratings, .task-text {
  margin: .25em 0 1em 0;
}

.ratings {
  align-content: center;
  display: flex;
}

#delete, #upvote, #downvote {
  height: 1.5em;
  width: 1.5em;
}
#delete:hover {
  background-image: url(images/delete-hover.svg);
}
#upvote {
  background-image: url(images/upvote.svg);
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
#upvote:hover {
  background-image: url(images/upvote-hover.svg);
}
#downvote {
  background-image: url(images/downvote.svg);
  display: inline-block;
  height: 1.5em;
  margin-left: .75em;
  width: 1.5em;
}
#downvote:hover {
  background-image: url(images/downvote-hover.svg);
}

#card-template {
  display: none;
}

@media (max-width: 450px) {
  .task-input {
    padding-top: 0;
    padding-bottom: 4em;
  }

  .card, .filter-section, .loadAll-section, .title-input, .task-input, .save-btn, .search-input, .filter-complete-btn {
    margin-left: auto;
    width: 80%;
  }
}
